@model SecurityFramework.Areas.Access.Models.ListViewModel

@{
    ViewBag.Title = "Group Details";
}

<h2>Group Details</h2>

<div>
    <h4>Group</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Breadcrumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breadcrumb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>